<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="first.sale.dao.SaleMapper">

 	<!-- 재고 조회 -->
	<select id="getStockList" resultType="ProductVO" parameterType="map">
		SELECT m.PRD_CD
			   ,m.PRD_NM
			   ,i.IVCO_QTY
			   ,m.PRD_CSMR_UPR
		FROM sd_ivco01_mt i
		LEFT OUTER JOIN ma_prd01_mt m ON m.PRD_CD=i.prd_cd
		LEFT OUTER JOIN ma_prt_mt p ON p.prt_cd=i.prt_cd
		WHERE m.PRD_TP_CD='10' 
			 AND (i.prt_cd LIKE '%' || #{prt_keyword} || '%' OR p.prt_nm LIKE '%' || #{prt_keyword} || '%')
			 <if test="prd_keyword != ''">																											<!--회원명 x / 휴대폰번호 o면 휴대폰번호 조건만 적용  -->	
  			 AND (i.prd_cd LIKE '%' || #{prd_keyword} || '%' OR m.prd_nm LIKE '%' || #{prd_keyword} || '%')
  			</if>
	</select>
	
	<!-- 고객판매관리 검색 -->
	<select id="getSaleList" resultType="SaleVO" parameterType="map">
		SELECT s.SAL_DT
			   ,s.CUST_NO
			   ,c.CUST_NM
			   ,s.PRT_CD
			   ,s.SAL_TP_CD
			   ,s.SAL_NO
			   ,s.TOT_SAL_QTY
			   ,s.TOT_SAL_AMT
			   ,s.CSH_STLM_AMT
			   ,s.CRD_STLM_AMT
			   ,s.PNT_STLM_AMT
			   ,s.FST_USER_ID
			   ,TO_CHAR(s.FST_REG_DT,'yyyy-MM-dd') AS sFst_reg_dt	
		FROM CS_SAL01_MT s
		LEFT OUTER JOIN CS_CUST01_MT c ON s.cust_no=c.cust_no
		WHERE s.PRT_CD=#{prt_cd}
			AND s.SAL_DT BETWEEN #{from} AND #{to}
			<if test="cust_no != null and cust_no !=''">																									<!--회원명 x / 휴대폰번호 o면 휴대폰번호 조건만 적용  -->	
  			 AND s.CUST_NO=#{cust_no}
  			</if>
	</select>
	
	<!-- 판매상세조회 -->
	<select id="getDetailSale" resultType="SaleVO" parameterType="SaleVO">
		SELECT d.PRD_CD
			   ,p.PRD_NM
			   ,d.SAL_QTY
			   ,d.SAL_AMT
			   ,d.SAL_SEQ
			   ,d.sal_dt
			   ,d.sal_no
		FROM CS_SAL01_DT d
		LEFT OUTER JOIN MA_PRD01_MT p ON d.prd_cd=p.prd_cd
		WHERE d.PRT_CD=#{prt_cd} and d.sal_dt=#{sal_dt} and d.sal_no=#{sal_no}
	</select> 
	
</mapper>
