@charset "UTF-8";
/* @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); For IE6-8
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
} */

.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}

/* ν‘Έν„° */
.footer { 
	position: absolute; 
	left: 0; 
	bottom: 0; 
	height:10px;
	width: 100%;
	clear:both;
}

/* νΌ */
form{
	width:300px;
	height:300px;
	margin:0 auto;
	padding:10px 10px 10px 10px;
	background-color:#fafafa;
	box-shadow: 7px 7px 8px gray;
}
ul{
	list-style:none;
}

input[type=text],input[type=password]{
	border-style:none none solid none;
	border-width:2.5px;
	border-color:black;
	width: 230px;
	background-color:#fafafa;
	margin-right:32px;
}

#submitBtn{
	background-color : black;
	
	border : none;
	border-radius : 5%;
	font-weight : bold;
	margin-top : 50px;
	width: 260px;
	color: white;
	margin-left:20px;
}

div #loginForm{
	padding-top : 50px;
}

.side{
	width:25%;
	float:left;
}
.body{
	width:65%;
	float:left;
}


#logIcon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  
}

.icon{
	text-align:center;
	margin-bottom : 50px;
}
