@charset "UTF-8";

.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}



/* 폼 */

#marketForm{
	width:80%;
	height:40px;
	background-color:white;
	border : 3px double black;
	border-radius : 4%;
	display:flex;							/* display는 서로 요소들 움직일 수 있게 */
	justify-content:space-between;			/* 동일한 간격으로 서로 사이두고 끝에 붙게 */
	align-items:center;						/* 위아래로 간격 두고 끝에 붙게 */
	margin:0 auto;
	padding:10px 10px 10px 10px;
}
#markgetForm > li{
	display:inline-block;
	width:50%;
	float:left;
}
#cusForm{
	width:80%;
	height:40px;
	background-color:white;
	border : 3px double black;
	border-radius : 4%;
	display:flex;							/* display는 서로 요소들 움직일 수 있게 */
	justify-content:space-between;			/* 동일한 간격으로 서로 사이두고 끝에 붙게 */
	align-items:center;						/* 위아래로 간격 두고 끝에 붙게 */
	margin:0 auto;
	padding:10px 10px 10px 10px;
}

#registerForm #jn_prt_cd, #prt_nm{
	background-color: rgb(192, 192, 192);
}

.formList{
	font-size: 14px;
    width: 47%;
    float:left;  
    height: 40px;  
}

.formList>label{
	width: 40%;
    float:left; 
}
.ipdiv{
	width:60%;
	float:left;
}

.addDiv{
	width: 80%;
    float: right;
    margin-right: 10px;
}
.addDiv>input{
	margin : 0 3px 4px 0;
}

#email1, #email2 {
	width:35%;
	/* float:left; */
} 

#registerForm #addr, #registerForm #addr_dtl{
	width: 40%;
	float:left;
} 
.addrClass{
	width:100%;
}
#infoBox{
	width:90%;
	height:270px;
	background-color:white;
	border : 3px double black;
	display:flex;							/* display는 서로 요소들 움직일 수 있게 */
	justify-content:space-between;			/* 동일한 간격으로 서로 사이두고 끝에 붙게 */
	align-items:center;						/* 위아래로 간격 두고 끝에 붙게 */
	margin:0 auto;
	padding:10px 10px 10px 10px;
}

 #mbl_no1, #mbl_no2, #mbl_no3{
	width: 20%;
	float:left;
	margin-right:3px;
	
}
#ynBox>ul{

	margin-top:30px;
}
input#jn_prt_cd,input#prt_nm{
	width: 42%;
	float:left;
	margin-right:3px;
}
/*
input#addr,input#addr_dtl{
	width: 150px;
}

input#merry{
	margin-right: 118px;
} */

#ynBox{
	width:90%;
	height:60px;
	background-color:white;
	border : 3px double black;
	display:flex;							/* display는 서로 요소들 움직일 수 있게 */
	justify-content:space-between;			/* 동일한 간격으로 서로 사이두고 끝에 붙게 */
	align-items:center;						/* 위아래로 간격 두고 끝에 붙게 */
	margin:20px auto;
	padding:10px 8px 10px 8px;
}
#ynBox .formList{
width:45%;
float:left;
}

ul{

	list-style:none;
}
#registerForm ul{
	width:100%;
	list-style:none;
}

ul li{
	display:inline-block;
	margin : 2px;
}
label{
	width:100px;
	float:left;			/* 태그를 왼쪽으로 정렬 */
}
.searchIcon{
	width:18px;
	height:18px;
	padding : 2px 2px 2px 2px;
	border : 1px solid grey;
}
h4{
	padding-left:50px;
}


#submitCus{
	width:30px;
	height:30px;
}

/* 테이블 */


th, td {
	border-bottom: 1px solid #444444; 
    padding: 10px;
    height : 30px;
  }
th{
	background-color:black;
	color : white;
}

#marketTable{
	width:100%; 
	border:"0" ;
	cellspacing:"0" ;
	ellpadding:"0";
	border-top: 1px solid #444444;
	border-collapse: collapse;
	margin:0 auto;
	margin-bottom : 20px;
	text-align : center;
}
#cusTable{
	width:100%; 
	border:"0" ;
	cellspacing:"0" ;
	ellpadding:"0";
	border-top: 1px solid #444444;
	border-collapse: collapse;
	margin:0 auto;
	margin-bottom : 20px;
	text-align : center;
}
#recTable{
	width:100%; 
	border:"0" ;
	cellspacing:"0" ;
	ellpadding:"0";
	border-top: 1px solid #444444;
	border-collapse: collapse;
	margin:0 auto;
	margin-bottom : 20px;
	text-align : center;
}
#info{
	margin:0 auto;
	width:90%;
	background-color:white;
	border : 3px double black;
	border-radius : 4%;
}

#closeForm, #regBtn,#resultBtn{
	background-color : white;
	border : 2px solid black;
	border-radius : 8%;
	font-weight : bold;
	margin-left : 5px;
	width:80px;
	height:30px;
}
.mkBtn{
	display:inline-block;
	float:right;
}


.marketList{
	width:80%; 
	overflow:auto;
	height:500px; 
	margin:40px auto 0 auto;
}
.cusList{
	width:80%; 
	overflow:auto;
	height:500px; 
	margin:40px auto 0 auto;
}
#recList{
	width:85%; 
	overflow:auto;
	height:500px; 
	margin:40px auto 0 auto;
}
/* .hClass{
	width:70%;
	float:left;
} */

thead{
	position: sticky ;
	top: 0;
}

#btnBox{
	width:95%;
	text-align : right;
}
