.header{
	width:100%;
}

.footer { 
	position : relative;
 	transform : translateY(-100%);
	height:10px;
	width: 100%;
	z-index: -999;	
	/* position: absolute;  */
	left: 0; 
	bottom: 0; 
}
h3 img{
	width:15px;
	height:15px;
	
}
h3{
	padding-left : 75px;
}

#resultBtn{
	text-align:center;
}

#wrapper{
  height: auto;
  padding-bottom: 10px;
}

.searchIcon{
	width:18px;
	height:18px;
	padding : 2px 2px 2px 2px;
	border : 1px solid grey;
}

.searchBox{
	width:92%;
	height:120px;
	margin:0 auto;
	background-color :#dcddde;
	border : 1px solid black;
}
#searchBtn{
	width:60px;
	height:60px;
	border:0.5px thin black;
	background-color :#dcddde;
}
#inputDiv{
	     display: flex;							/*영역 안에서 움직이게 할 수 있음  */
   /*  align-items: center;	 */				/*해당 것을 가운데로 오게 하겠다.  */
   width:80%;
   float:left;
   margin-top:5px;
}

#searchForm label{
	font-weight : bold;
	width:20%;
	float:left;
	margin-top:5px;
}
#searchForm li{
	margin-top:5px;
}

th{
	background-color:black;
	color : white;
}

thead{
	position: sticky ;
	top: 0;
}

th, td {
	border-bottom: 1px solid #444444;
    
    padding:10px;
    height:20px;
}

 #registBtn{
	margin:10px 60px;
	text-align:right;
}

/* 매장재고조회 팝업 */
#stockList{
	width:90%; 
	overflow:auto;
	height:350px; 
	margin:20px auto 0 auto;
}

#stockTable{
	width:60%; 
	border:"0" ;
	cellspacing:"0" ;
	ellpadding:"0";
	border-top: 1px solid #444444;
	border-collapse: collapse;
	margin:0 auto;
	margin-bottom : 20px;
	text-align : center;
}
#stockForm label{
	font-weight : bold;
	width:30%;
	float:left;
	
}
#textDiv{
	width:70%;
	float:left;
}
#stockBtnDiv{
	width:30%;
	float:left;
	margin-top:10px;
	text-align:center;
}
#textDiv label{
	font-weight : bold;
}
.searBox{
	width:90%;
	height:80px;
	background-color :#dcddde;
	border : 1px solid black;
	margin:0 auto;
}

/* 고객판매관리 */
#saleList{
	width:100%; 
	overflow:auto;
	height:350px; 
	margin:20px auto 0 auto;
}

#saleTable{
	width:90%; 
	border:"0" ;
	cellspacing:"0" ;
	ellpadding:"0";
	border-top: 1px solid #444444;
	border-collapse: collapse;
	margin:0 auto;
	margin-bottom : 20px;
	text-align : center;
}

#sumTr{
	position: sticky ;
	bottom: 0;
	background-color: #dbdbdb;
}

/* 판매상세조회 */
#salDetList{
	width:100%; 
	overflow:auto;
	height:350px; 
	margin:20px auto 0 auto;
}

#salDetTable{
	width:90%; 
	border:"0" ;
	cellspacing:"0" ;
	ellpadding:"0";
	border-top: 1px solid #444444;
	border-collapse: collapse;
	margin:0 auto;
	margin-bottom : 20px;
	text-align : center;
}

#infoBox{
	margin:0 auto;
	width:90%;
	height:90px;
	background-color:white;
	border : 3px double black;
}
ul{
	list-style:none;
}
#infoForm ul li{
	display:inline-block;
	width:50%;
	float:left;
}
#infoForm input[type=text]{
	border:none;
}
#infoForm label{
	font-weight : bold;
	margin-right: 20px;
}
#infoForm label.two{
	margin-right:50px;
}

 .infoDiv{
	width: 65%;
    float: left;
    margin-right: 10px;
}
 #btnDiv{
	width: 30%;
    float: left;
    margin-right: 10px;
    margin-top : 39px;
	text-align:right;
}  

/* 고객판매수금등록 */
.searchBox{
	width:90%;
	margin:0 auto;
	
}
#regList{
	width:100%; 
	overflow:auto;
	height:350px; 
	margin:20px auto 0 auto;
}

#regTable{
	width:90%; 
	border:"0" ;
	cellspacing:"0" ;
	ellpadding:"0";
	border-top: 1px solid #444444;
	border-collapse: collapse;
	margin:0 auto;
	margin-bottom : 20px;
	text-align : center;
}

#salTbody input[name=ivco_qty],input[name=prd_csmr_upr],input[name=sal_amt]{
		border:none;
		width:80px;
		font-size:14px;
}
#salTbody input[name=prd_nm]{
		border:none;
		width:130px;
		font-size:14px;
}
#salTbody input[name=sal_qty]{
		width:80px;
		font-size:14px;
}

#pmBtn{
	text-align:right;
	margin-right:50px;
}

input[type=button],input[type=submit]{
	background-color : white;
	border : 2px solid black;
	border-radius : 8%;
	margin-left : 10px;
	margin-top : 10px;
	font-weight : bold;
	width:40px;
	height:28px;
}

.searchBox label{
	font-weight : bold;
	width:20%;
	float:left;
	margin-top:1px;
}
.salDiv{
	width:60%;
	float:left;
}
#costBox{
	margin:0 auto;
	width:90%;
	height:150px;
	background-color:white;
	border : 3px double black;
}
#costBox label{
	font-weight : bold;
	margin-right: 50px;
}
#costBox label.two{
	margin-right:83px;
}
#plusRow, #minusRow{
	margin-top:20px;
	height:30px;
	width:30px;
}
.cdDiv{
	display: flex;							/*영역 안에서 움직이게 할 수 있음  */
     align-items: center;	 				/*해당 것을 가운데로 오게 하겠다.  */
}
h5{
	padding-left: 50px;
}

