<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="first.customer.dao.CustomerMapper">

 	<!-- 고객 조회(고객이름, 핸드폰번호로)	 -->
 	<select id="searchCustomer" resultType="CustomerVO" parameterType="map">
 		SELECT c.cust_no
 			   ,c.cust_nm
 			   ,(CASE WHEN LENGTH(c.MBL_NO) = 10 THEN (substr(c.MBL_NO,1,3) || '-' || substr(c.MBL_NO,4,3) || '-' || substr(c.MBL_NO,7,4))
          		      WHEN LENGTH(c.MBL_NO) = 11 THEN (substr(c.MBL_NO,1,3) || '-' || substr(c.MBL_NO,4,4) || '-' || substr(c.MBL_NO,8,4))
           		      WHEN LENGTH(c.MBL_NO) <![CDATA[ <= ]]> 9 THEN c.mbl_no
           		      WHEN LENGTH(c.MBL_NO) <![CDATA[ >= ]]> 12 THEN (substr(c.MBL_NO,1,3) || '-' || lpad('*',length(c.MBL_NO)-7,'*') || '-' || substr(c.MBL_NO,length(c.mbl_no)-3,4))
			    END) AS MBL_NO	
 			   ,d.dtl_cd_nm AS cust_ss_cd
 		FROM CS_CUST01_MT c
 				JOIN (SELECT dtl_cd, dtl_cd_nm FROM ma_code_dt WHERE code_cd='CUST_SS_CD') d ON c.cust_ss_cd= d.dtl_cd
		WHERE
  			<if test="cust_nm != '' and mbl_no ==''">
  				c.cust_nm LIKE '%' || #{cust_nm} || '%'
  			</if>
  			<if test="cust_nm == '' and mbl_no !=''">
  				c.mbl_no LIKE '%' || #{mbl_no} || '%'
  			</if>
  			<if test="cust_nm != '' and mbl_no !=''">
  				c.mbl_no LIKE '%' || #{mbl_no} || '%' and
  				c.cust_nm LIKE '%' || #{cust_nm} || '%'
  			</if>
 	</select>
 	
 	<!-- 고객번호로 고객 이력 가져오기.	 -->
 	<select id="getRecord" resultType="RecordVO" parameterType="String">
 		SELECT h.cust_no
 				,(substr(h.chg_dt,1,4) || '-' || substr(h.chg_dt,5,2) || '-' || substr(h.chg_dt,7,2)) AS chg_dt
 				,h.chg_bf_cnt
				,h.chg_aft_cnt
				,h.lst_upd_dt
				,h.lst_upd_id
				,u.user_nm
				,(CASE upper(h.chg_cd)
					WHEN 'CUST_NO' THEN '고객번호'
					WHEN 'CUST_NM' THEN '고객명'
					WHEN 'SEX_CD' THEN '성별코드'
					WHEN 'BRDY_DT' THEN '생년월일'
					WHEN 'POC_CD' THEN '직업코드'
					WHEN 'MBL_NO' THEN '휴대폰번호'
					WHEN 'CUST_SS_CD' THEN '고객상태코드'
					WHEN 'JN_PRT_CD' THEN '가입매장'
					WHEN 'STP_DT' THEN '중지일자'
					WHEN 'CNCL_DT' THEN '해지일자'
				END) AS chg_cd		
		FROM SD_CUST01_HT h 
		JOIN ma_user_mt u ON h.lst_upd_id=u.user_id 
		WHERE h.CUST_NO=#{cust_no} 
		ORDER BY h.CHG_DT DESC	
 	</select>
 	
 	<!-- 메인검색 결과 -->
 	<select id="getMainCustomer" resultType="CustomerVO" parameterType="map">
 		SELECT m.prt_nm
 			   ,u.user_nm
 			   ,c.cust_no 
 			   ,(CASE WHEN LENGTH(c.CUST_NM) = 2 THEN (substr(c.cust_nm,1,1)) || '*'
          		      WHEN LENGTH(c.CUST_NM) <![CDATA[>=]]>3 THEN  (substr(c.cust_nm,1,1) || lpad('*',length(c.cust_nm)-2,'*') || substr(c.cust_nm,length(c.cust_nm),1))
            		  END) AS cust_nm 
 			   ,(CASE WHEN LENGTH(c.MBL_NO) = 10 THEN (substr(c.MBL_NO,1,3) || '-' || '***' || '-' || substr(c.MBL_NO,7,4))
          		      WHEN LENGTH(c.MBL_NO) = 11 THEN (substr(c.MBL_NO,1,3) || '-' || '****' || '-' || substr(c.MBL_NO,8,4))
           		      WHEN LENGTH(c.MBL_NO) <![CDATA[ <= ]]> 9 THEN c.mbl_no
           		      WHEN LENGTH(c.MBL_NO) <![CDATA[ >= ]]> 12 THEN (substr(c.MBL_NO,1,3) || '-' || lpad('*',length(c.MBL_NO)-7,'*') || '-' || substr(c.MBL_NO,length(c.mbl_no)-3,4))
			 	      END) AS MBL_NO 
 			   ,d.dtl_cd_nm AS cust_ss_cd
 	 		   ,(substr(c.js_dt,1,4) || '-' || substr(c.js_dt,5,2) || '-' || substr(c.js_dt,7,2)) AS js_dt
 			   ,c.jn_prt_cd
 			   ,c.fst_user_id
 			   ,c.lst_upd_dt
 			   ,c.lst_upd_id
	  	FROM cs_cust01_mt c JOIN ma_prt_mt m ON c.jn_prt_cd = m.prt_cd
	  		                JOIN ma_user_mt u ON c.fst_user_id= u.user_id
	  		                JOIN (SELECT dtl_cd, dtl_cd_nm FROM ma_code_dt WHERE code_cd='CUST_SS_CD') d ON c.cust_ss_cd= d.dtl_cd
	  	WHERE
					  			 <if test="prt_cd != '' and cust_no ==''">
					  				m.prt_cd=#{prt_cd} AND m.prt_nm=#{prt_nm} and
					  			</if>
					  			<if test="prt_cd == '' and cust_no !=''">
					  				c.cust_no=#{cust_no} AND c.cust_nm=#{cust_nm}  and
					  			</if>
					  			<if test="prt_cd != '' and cust_no !=''">
					  				m.prt_cd=#{prt_cd} AND m.prt_nm=#{prt_nm} and
					  				c.cust_no=#{cust_no} AND c.cust_nm=#{cust_nm}  and
					  			</if>
					  			<if test='cust_ss_cd.equals("0")'>
					  				c.cust_ss_cd LIKE '%'|| '0' ||'%' AND
					  			</if>
					  			<if test='cust_ss_cd.equals("10")'>
					  				c.cust_ss_cd = #{cust_ss_cd}  AND
					  			</if>
					  			<if test='cust_ss_cd.equals("80")'>
					  				c.cust_ss_cd = #{cust_ss_cd}  AND
					  			</if>
					  			<if test='cust_ss_cd.equals("90")'>
					  				c.cust_ss_cd = #{cust_ss_cd}  AND
					  			</if> 
					  			
	  				  (c.js_dt BETWEEN #{fromDate} AND #{toDate})
	  ORDER BY c.cust_no
 	</select>
 	<!-- 휴대폰번호 중복 검사 -->
 	<select id="getMblCheck" parameterType="String" resultType="integer">
 		SELECT COUNT(MBL_NO) 
 		FROM CS_CUST01_MT
		WHERE mbl_no=#{mbl_no}
 	</select>
 	
 	 <!-- 직업코드 항목 db에서 불러오기 -->
 	<select id="getPocCode" resultType="java.util.HashMap">
 		SELECT dtl_cd, dtl_cd_nm FROM ma_code_dt WHERE code_cd='POC_CD'
 	</select>
 	
 	
 	
 	
</mapper>
