<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="first.market.dao.MarketMapper">

 	<!-- 매장 검색 -->
 	 <select id="searchMarket" resultType="MarketVO" parameterType="String">
 		 SELECT m.prt_cd
     		   ,m.prt_nm
      		   ,d.dtl_cd_nm AS prt_ss_cd 
		FROM ma_prt_mt m
 		JOIN (SELECT dtl_cd, dtl_cd_nm FROM ma_code_dt WHERE code_cd='PRT_SS_CD') d ON m.prt_ss_cd=d.dtl_cd
 		WHERE m.PRT_DT_CD=2 AND (m.prt_cd LIKE '%' || #{keyword} || '%' OR m.prt_nm LIKE '%' || #{keyword} || '%')
 	</select>	
</mapper>
