<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="first.user.dao.UserMapper">

 	
 	<!-- 매장코드로 고객조회 테이블 고객정보 불러오기 -->
  	 <!-- <select id="getCustomer" resultType="CustomerVO" parameterType="map">
 		SELECT m.prt_nm
 			   ,u.user_nm
 			   ,c.cust_no
 			   ,(CASE WHEN LENGTH(c.CUST_NM) = 2 THEN (substr(c.cust_nm,1,1)) || '*'
          		      WHEN LENGTH(c.CUST_NM) <![CDATA[>=]]>3 THEN  (substr(c.cust_nm,1,1) || lpad('*',length(c.cust_nm)-2,'*') || substr(c.cust_nm,length(c.cust_nm),1))
            	 END) AS cust_nm 
 			   ,(CASE WHEN LENGTH(c.MBL_NO) = 10 THEN (substr(c.MBL_NO,1,3) || '-' || '***' || '-' || substr(c.MBL_NO,7,4))
          		      WHEN LENGTH(c.MBL_NO) = 11 THEN (substr(c.MBL_NO,1,3) || '-' || '****' || '-' || substr(c.MBL_NO,8,4))
           		      WHEN LENGTH(c.MBL_NO) <![CDATA[ <= ]]> 9 THEN c.mbl_no
           		      WHEN LENGTH(c.MBL_NO) <![CDATA[ >= ]]> 12 THEN (substr(c.MBL_NO,1,3) || '-' || lpad('*',length(c.MBL_NO)-7,'*') || '-' || substr(c.MBL_NO,length(c.mbl_no)-3,4))
			    END) AS MBL_NO	 
 			   ,d.dtl_cd_nm AS cust_ss_cd
 			   ,(substr(c.js_dt,1,4) || '-' || substr(c.js_dt,5,2) || '-' || substr(c.js_dt,7,2)) AS js_dt
 			   ,c.jn_prt_cd
 			   ,c.fst_user_id
 			   ,c.lst_upd_dt
 			   ,c.lst_upd_id 
		FROM cs_cust01_mt c 
		JOIN ma_prt_mt m ON c.jn_prt_cd = m.prt_cd
		JOIN ma_user_mt u ON c.fst_user_id = u.user_id 
		JOIN (SELECT dtl_cd, dtl_cd_nm FROM ma_code_dt WHERE code_cd='CUST_SS_CD') d ON c.cust_ss_cd= d.dtl_cd
		WHERE (c.js_dt between SYSDATE-7 and SYSDATE)
			<if test='uPrt_dt_cd.equals("2")'>
  				AND	c.jn_prt_cd=#{prt_cd}
  			</if>
  			 
 	</select> -->
 	
 	  	 <select id="getCustomer" resultType="CustomerVO" parameterType="map">
 		SELECT m.prt_nm
 			   ,u.user_nm
 			   ,c.cust_no
 			   ,(CASE WHEN LENGTH(c.CUST_NM) = 2 THEN (substr(c.cust_nm,1,1)) || '*'
          		      WHEN LENGTH(c.CUST_NM) <![CDATA[>=]]>3 THEN  (substr(c.cust_nm,1,1) || lpad('*',length(c.cust_nm)-2,'*') || substr(c.cust_nm,length(c.cust_nm),1))
            	 END) AS cust_nm 
 			   ,(CASE WHEN LENGTH(c.MBL_NO) = 10 THEN (substr(c.MBL_NO,1,3) || '-' || '***' || '-' || substr(c.MBL_NO,7,4))
          		      WHEN LENGTH(c.MBL_NO) = 11 THEN (substr(c.MBL_NO,1,3) || '-' || '****' || '-' || substr(c.MBL_NO,8,4))
           		      WHEN LENGTH(c.MBL_NO) <![CDATA[ <= ]]> 9 THEN c.mbl_no
           		      WHEN LENGTH(c.MBL_NO) <![CDATA[ >= ]]> 12 THEN (substr(c.MBL_NO,1,3) || '-' || lpad('*',length(c.MBL_NO)-7,'*') || '-' || substr(c.MBL_NO,length(c.mbl_no)-3,4))
			    END) AS MBL_NO	 
 			   ,d.dtl_cd_nm AS cust_ss_cd
 			   ,(substr(c.js_dt,1,4) || '-' || substr(c.js_dt,5,2) || '-' || substr(c.js_dt,7,2)) AS js_dt
 			   ,c.jn_prt_cd
 			   ,c.fst_user_id
 			   ,TO_CHAR(c.lst_upd_dt,'yyyy-MM-dd hh24miss') AS sLst_upd_dt
 			   ,c.lst_upd_id 
		FROM cs_cust01_mt c 
		JOIN ma_prt_mt m ON c.jn_prt_cd = m.prt_cd
		JOIN ma_user_mt u ON c.fst_user_id = u.user_id 
		JOIN (SELECT dtl_cd, dtl_cd_nm FROM ma_code_dt WHERE code_cd='CUST_SS_CD') d ON c.cust_ss_cd= d.dtl_cd
		WHERE (c.js_dt between SYSDATE-7 and SYSDATE)
			<if test='uPrt_dt_cd.equals("2")'>
  				AND	c.jn_prt_cd=#{prt_cd}
  			</if>
  			 
 	</select>
 	
 	<!-- 회원상태코드 항목 db에서 불러오기 -->
 	<select id="getSScode" resultType="java.util.HashMap">
 		SELECT dtl_cd, dtl_cd_nm FROM ma_code_dt WHERE code_cd='CUST_SS_CD'
 	</select>
 	
 	
</mapper>
